/* CSS declarations go here */
body {
  margin: 0;
  overflow-x: hidden;
}

.menu {
  display: inline-block;
  background-color: #002266;
  width: 80vw;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s;
  height: 100vh;
  position: absolute;
  color: white;
  box-shadow: 5px 0 10px rgba(0,0,0,0.5);
  z-index: 11;
}

.menu-modal {
  display: block;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: background-color 0.25s;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
}

.menu-hidden {
  margin-left: -150vw;
}

.menu-modal-hidden {
  margin-left: -150vw;
  background-color: rgba(0,0,0,0);
}

.menu-toggle {
  color: white;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 2em;
  float: left;
}

.top-bar {
  width: 100vw;
  height: 50px;
  background-color: #002266;
}

::placeholder {
  color: #00aaff;
  opacity: 0.8;
}
.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 10px;
  width: 15vw;
  height: 5vh;
  font-size: 2em;
  border: 2px solid #00aaff;
  border-radius: 5px;
  background-color: rgba(0,170,255,.2);
  color: #00aaff;
}
.submit:hover {
  background-color: rgba(0,170,255,.4);
}
.submit:active {
  background-color: rgba(0,170,255,.6);
}
.location-entry {
  width: 75%;
  height: 10px;
  font-size: 1em;
  padding: 15px;
  margin: 3px;
  background-color: rgba(0,0,25,.6);
  border: 1px solid #33aaee;
  border-radius: 5px;
  color: #44bbff;
  float: right;
}
